ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*ul li {
  display: inline-block;
  clear: both;
  font-family: Helvetica, Arial, sans-serif;
}*/

/* Status Message Formatting */
.sysmsg {
    display: block;
    clear: both;
    text-align: center;

    margin-top: 15px;
    margin-bottom: 15px;
    
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, .40);
}

/* Username Formatting */
.usrnme {
    display: block;
    clear: both;
    text-align: left;

    padding-left: 12px;
    margin-bottom: 1px;
    
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, .40);
}

/* Generic Message Formatting */
.bubble {
    border-radius: 1.3em;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 1px;
    margin-bottom: 1px;

    display: block;
    clear: both;

    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;

    max-width: 85%;
}

@media all and (min-width: 920px) {
    .bubble {
	box-sizing:content-box;
	max-width:70%;
    }
}
@media all and (min-width: 1211px) {
    .bubble {
	max-width:55%;
    }
}
@media all and (min-width: 1600px) {
    .bubble {
	max-width:60%;
    }
}

/* Bubble Grouping Formatting */
.bubble:first-of-type {
    border-top-left-radius: 1.3em !important;
    border-top-right-radius: 1.3em !important;
}

.bubble:last-of-type {
    border-bottom-left-radius: 1.3em !important;
    border-bottom-right-radius: 1.3em !important;
}

/* Bubble User Formatting */
.me .bubble {
    float: right;
    background-color: #0084ff;
    color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.him .bubble {
    float: left;
    background: #f1f0f0;
    color: #000000;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* Colors */
.messenger_blue .me .bubble {
    background-color: rgb(0, 132, 255);
}
.viking .me .bubble {
    background-color: rgb(68, 190, 199);
}
.golden_poppy .me .bubble {
    background-color: rgb(255, 195, 0);
}
.radical_red .me .bubble {
    background-color: rgb(250, 60, 76);
}
.shocking .me .bubble {
    background-color: rgb(214, 150, 187);
}
.picton_blue .me .bubble {
    background-color: rgb(102, 153, 204);
}
.free_speech_green .me .bubble {
    background-color: rgb(19, 207, 19);
}
.pumpkin .me .bubble {
    background-color: rgb(255, 126, 41);
}
.light_coral .me .bubble {
    background-color: rgb(230, 133, 133);
}
.medium_slate_blue .me .bubble {
    background-color: rgb(118, 70, 255);
}
.deep_sky_blue .me .bubble {
    background-color: rgb(32, 206, 245);
}
.fern .me .bubble {
    background-color: rgb(103, 184, 104);
}
.cameo .me .bubble {
    background-color: rgb(212, 168, 140);
}
.brilliant_rose .me .bubble {
    background-color: rgb(255, 92, 161);
}
.biloba_flower .me .bubble {
    background-color: rgb(166, 149, 199);
}
